.wp-block-embed media-controller {
	max-width: 100%;
}

.wp-embed-responsive .wp-has-aspect-ratio media-controller {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
